/*
font-family: 'Dosis', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: normal;
  color:#3F3D56;
}
h1 span {
  font-weight: bold;
  color:#EE24FF;
}

p {
  color:#828282;
  font-size: 16px;
}

 p span {
  color:#3F3D56;
  font-weight: bold;
}

#parag01 {
  line-height: 22px;
  font-weight: 400;
}

#main {
  margin: 64px auto 64px;
  width: 626px;
  text-align: center;
}

#footer {
  align-items: center;
}

#footer #line {
  border: 1px #ECEFF2 solid;
  width: 391px;
  margin: 0 auto 23px;
}

#footer a {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color:#3F3D56;
  margin-top: 23px;
}
a + a + a{
  margin-left: 42px;
}
a + a {
  margin-left: 42px;
}

 #wave {
  margin-top:25px;
}









